apiVersion: v1
kind: PersistentVolume
metadata:
  name: planka
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteMany
  hostPath:
    path: "/mnt/loot/services/planka"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: planka
  namespace: planka
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi

