argo-cd:
  configs:
    params:
      # SSL behind my own nginx load balancer
      server.insecure: true

  global:
    domain: argocd.magdavis.click

    nodeSelector:
      class: sanji

    secret:
      createSecret: true
      labels: {}
      annotations: {}

  server:
    replicas: 2
    service:
      type: NodePort
      nodePortHttp: 30080

