immich:

  controllers:
    main:
      replicas: 2
      containers:
        main:
          env:
            REDIS_HOSTNAME: '{{ printf "%s-valkey" .Release.Name }}'
            IMMICH_MACHINE_LEARNING_URL: 'http://svc.home.arpa:3003'

  immich:
    metrics:
      # Enabling this will create the service monitors needed to monitor immich with the prometheus operator
      enabled: false
    persistence:
      # Main data store for all photos shared between different components.
      library:
        # Automatically creating the library volume is not supported by this chart
        # You have to specify an existing PVC to use
        existingClaim: immich-library

    # ref: https://immich.app/docs/install/config-file/
    configuration: {}
      # trash:
      #   enabled: false
      #   days: 30
      # storageTemplate:
      #   enabled: true
      #   template: "{{y}}/{{y}}-{{MM}}-{{dd}}/{{filename}}"
    # Sets the resource Kind to store configuration in. Must be either ConfigMap or Secret.
    configurationKind: ConfigMap
  
  machine-learning:
    # turned off until I can mount the GPU to a kubernetes node; for now it's running on the Docker node with the iGPU
    enabled: false

  valkey:
    enabled: true
    persistence:
      data:
        enabled: true
        size: 1Gi
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce

  server:
    controllers:
      main:
        containers:
          main:
            env:
                DB_DATABASE_NAME: immich
                DB_HOSTNAME: 
                  valueFrom:
                    secretKeyRef:
                      name: immich-db
                      key: db-hostname
                DB_USERNAME:
                  valueFrom:
                    secretKeyRef:
                      name: immich-db
                      key: db-username
                DB_PASSWORD:
                  valueFrom:
                    secretKeyRef:
                      name: immich-db
                      key: db-password

  service:
    main:
      type: NodePort

