name: Release Charts

on:
  push:
    branches:
      - main

jobs:
  release:
    # depending on default permission settings for your org (contents being read-only or read-write for workloads), you will have to add permissions
    # see: https://docs.github.com/en/actions/security-guides/automatic-token-authentication#modifying-the-permissions-for-the-github_token
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        name: Install Helm

      - name: Add dependency repos
        run: |
          helm repo add argo https://argoproj.github.io/argo-helm
          helm repo add anza-labs https://anza-labs.github.io/charts
          helm repo add nextcloud https://nextcloud.github.io/helm
          helm repo add planka https://plankanban.github.io/planka
          helm repo add immich https://immich-app.github.io/immich-charts


      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.7.0
        with:
          config: "./.github/configs/cr.yaml"
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

